services:
  cgit:
    build: ./cgit
    container_name: cgit
    restart: unless-stopped
    ports:
      - "127.0.0.1:8780:8080"
    volumes:
      - ./data/git:/srv/git:ro
      - ./data/releases:/srv/releases:ro
      - ./config/cgitrc:/etc/cgit/cgitrc:ro
      - ./config/nginx-cgit.conf:/etc/nginx/http.d/default.conf:ro
  mirror:
    build:
      context: ./mirror
    image: cgit-mirror:latest
    container_name: cgit-mirror
    restart: unless-stopped
    volumes:
      - ./config/repos.txt:/etc/repos.txt:ro
      - ./data/git:/srv/git
      - ./data/releases:/srv/releases
      - ./mirror/hooks/post-fetch:/srv/hooks/post-fetch:ro
      - ./mirror/mirror-sync.sh:/usr/local/bin/mirror-sync.sh:ro
      - ./mirror/fetch-gh-assets.sh:/usr/local/bin/fetch-gh-assets.sh:ro
      - ./mirror/download-latest-assets.sh:/usr/local/bin/download-latest-assets.sh:ro
  api:
    build:
      context: ./api
      args:
        PIP_INDEX_URL: ${PIP_INDEX_URL}
    image: cgit-api:latest
    container_name: cgit-api
    environment:
      - RELEASES_ROOT=${RELEASES_ROOT}
      - RELEASE_BASE=${RELEASE_BASE}
      - KEEP_N=${KEEP_N}
    ports:
      - "127.0.0.1:8700:8000"
    volumes:
      - ./data/git:/srv/git:ro
      - ./data/releases:/srv/releases:ro
    restart: unless-stopped
  #gost:
  #  build: ./proxy
  #  container_name: cgit-proxy
  #  restart: unless-stopped
  #  expose:
  #    - "8080"
  plugin:
    build:
      context: ./plugin_store
      args:
        PIP_INDEX_URL: ${PIP_INDEX_URL}
    image: decky-plugin-store:latest
    container_name: cgit-plugin-store
    environment:
      - PLUGIN_STORE_ADMIN_TOKEN=${PLUGIN_STORE_ADMIN_TOKEN}
    ports:
      - "127.0.0.1:8701:8001"
    volumes:
      - ./data/plugins:/srv/plugins
    restart: unless-stopped
    
networks:
  default:
    driver: bridge

